In [1]:
import pandas as pd

### Importando Datasets

In [2]:
df_movies = pd.read_csv("movies.csv", sep=",")
df_ratings = pd.read_csv("ratings.csv", sep=",")

### Analisando o dataframe Movies

In [3]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

### Analisando o dataframe Ratings

In [5]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

### Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?

In [7]:
# Procurando no dataframe pelos títulos que contêm a palavra Matrix
mask_movie_matrix = df_movies['title'].str.contains('Matrix')
df_movies[mask_movie_matrix]

,movieId,title,genres
1939,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
4351,6365,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX
4639,6934,"Matrix Revolutions, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX

In [8]:
# Foi encontrado que o Id do filme Matrix é 2571
df_matrix = df_movies.query('movieId == 2571')

# Separando os gêneros do filme Matrix em uma lista
genres = df_matrix['genres'].str.split('|').to_list()[0]

In [9]:
# Respostas
print(f"O filme Matrix tem {len(genres)} gêneros, os quais são: {', '.join(genres)}")

O filme Matrix tem 3 gêneros, os quais são: Action, Sci-Fi, Thriller

### Quantos gêneros cada filme tem, em média?

In [10]:
def find_number_of_genres(dataframe: pd.DataFrame) -> list:
    """Encontra o número de gêneros para cada filme do dataframe
    Args:
        dataframe (pd.DataFrame): Dataframe a ser utilizado

    Returns:
        list: Lista contendo o número de gêneros para cada filme
    """    
    movies_genres = dataframe['genres'].str.split('|').to_list()
    number_of_genres = [len(genres) for genres in movies_genres]
    
    return number_of_genres

In [11]:
# Adiciona a lista com o número de gêneros de cada filme ao dataframe
df_movies['n_genres'] = find_number_of_genres(df_movies)

In [12]:
# Resposta
print(f"Cada filme tem em média {df_movies['n_genres'].mean():.2f} gêneros")

Cada filme tem em média 2.27 gêneros